$theme-color: #cf4647;

body {
  padding: 2rem;
  margin: 0;
  font-family: notosans, sans-serif;
  font-size: 20px;
}

h1 {
  margin: 0;
  color: $theme-color;
}

main {
  margin-top: 2rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  color: white;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#test-btn {
  background-color: $theme-color;
  &:hover {
    opacity: 0.6;
  }
}
